[problem]
name=cubicles_se3
world=cubicles_env.dae
robot=cubicles_robot.dae
start.x=-4.96
start.y=-40.62
start.z=70.57
start.axis.x=0.0
start.axis.y=0.0
start.axis.z=1.0
start.theta=0.0
goal.x=200.49
goal.y=-40.62
goal.z=70.57
goal.axis.x=0.0
goal.axis.y=0.0
goal.axis.z=1.0
goal.theta=0.0
threshold=1e-15

# settings specific to the state space are also allowed
longest_valid_segment_fraction = 0.01

[benchmark]
time_limit=8.0
mem_limit=4096.0
run_count=50
output=../../../../results/

[planner]

# we specify the range option for the RRTConnect algorithm;
# since there is no instance of an algorithm already created,
# an instance of RRTConnect is automatically created, and the value
# of range is set for that instance
rrtconnect.range=50

# specifying the name of an algorithm with no value
# creates an additional instance of that algorithm. previous settings
# do not affect this instance
rrtconnect=

# specify a setting for a previously instantiated algorithm; this
# does not create an instance of RRTConnect, since a previously created instance
# exists; specifying the same option repeatedly has no effect; the value of the last
# option is the one that matters
rrtconnect.range=100

# new instance or RRTConnect
rrtconnect=
# and a value for the range
rrtconnect.range=200

# new instance of KPIECE
kpiece=
# The value for longest_valid_segment_fraction is inherited
# from the problem section, and would have that value by default
# but it can be overidden here
problem.longest_valid_segment_fraction = 0.2

# new instance of KPIECE
kpiece=
# increase the size of the projection by a specific factor, in every dimension
problem.projection.cellsize_factor = 4.0
# The value of longest_valid_segment_fraction for this planner instance is the
# same as the one in the problem section, not as the one defined for the previous
# instance of KPIECE
