[problem]
# problem specific settings
name=example_name
world=../resources/2D/Maze_planar_env.dae
robot=../resources/2D/car1_planar_robot.dae
start.x=0.0
start.y=0.0
start.theta=0.0
goal.x=26.0
goal.y=0.0
goal.theta=0.0
threshold=1e-15
volume.min.x = 0
volume.min.y = 1
volume.max.x = 1
volume.max.y = 2

[benchmark]
time_limit=10.0
mem_limit=1000.0
run_count = 3

[planner]
# the planners to instantiate
est=
rrt=
sbl=
prm=
kpiece=
bkpiece=
lbkpiece=
stride=

# other planner options are possible too. e.g.:
# rrt.range=0.2
