<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
		<script src="{{ url_for('static', filename='scripts/libs/jquery-2.1.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/libs/jquery.blockUI.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/libs/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/libs/three.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/libs/TrackballControls.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/libs/ColladaLoader.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/libs/ReusableRay.js') }}"></script>

		<script src="{{ url_for('static', filename='scripts/omplweb.js') }}"></script>
	</head>

	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true" aria-controls="navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">OMPL Web</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li id="nav_config"><a onclick="load_configuration()">Configure Problem</a></li>
						<!-- <li id="nav_viz"><a onclick="load_visualization()">Visualization</a></li> -->
						<li id="nav_bench"><a onclick="load_benchmarking()">Benchmarking</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="content">
			<div class="container container-fluid" id="content">
				<br><br>
				<h2>To begin, select 'Configure Problem' from the navigation menu.</h2>
			</div>
		</div>

		<!-- Footer -->
		<div class="footer">
			<a href="http://ompl.kavrakilab.org">Open Motion Planning Library</a>
			•
			<a href="http://www.kavrakilab.org">Physical and Biological Computing Group</a>
			•
			<a href="http://www.cs.rice.edu">Department of Computer Science</a>
			•
			<a href="http://www.rice.edu">Rice University</a><br>
		</div>
	</body>
</html>
