[problem]
name = cubicles_opt
robot = cubicles_robot.dae
world = cubicles_env.dae
objective = length
# make PRM act like an optimizing planner:
objective.threshold = 0
start.x = -4.96
start.y = -40.62
start.z = 70.57
start.theta = 0
start.axis.x = 1
start.axis.y = 0
start.axis.z = 0
goal.x = 200.0
goal.y = -40.62
goal.z = 70.57
goal.theta = 0
goal.axis.x = 1
goal.axis.y = 0
goal.axis.z = 0
volume.min.x = -508.88
volume.min.y = -230.13
volume.min.z = -123.75
volume.max.x = 319.62
volume.max.y = 531.87
volume.max.z = 101.0

[benchmark]
time_limit=300.0
mem_limit=8000.0
run_count=50

[planner]
prm=
prmstar=
prmstar.name=PRM*
rrtstar=
rrtstar.name=RRT*
lbtrrt=
spars=
spars.stretch_factor=1.2
spars.sparse_delta_fraction=0.05
spars.max_failures=10000
spars2=
spars2.name=SPARS2
spars2.stretch_factor=1.2
spars2.sparse_delta_fraction=0.05
spars2.max_failures=10000
aps=
aps.name=APS1
aps.num_planners=1
aps=
aps.name=APS4
aps.num_planners=4
rrtstar=
rrtstar.name=RRT*prune
rrtstar.prune=1
cforest=
cforest.name=CForest4
cforest.num_threads=4
cforest=
cforest.name=CForest8
cforest.num_threads=8
