[problem]
name = Home
robot = Home_robot.dae
world = Home_env.dae
objective = length
# make PRM act like an optimizing planner:
objective.threshold = 0
start.x = 252.95
start.y = -214.95
start.z = 46.19
start.theta = 0
start.axis.x = 1
start.axis.y = 0
start.axis.z = 0
goal.x = 262.95
goal.y = 75.05
goal.z = 46.19
goal.theta = 0
goal.axis.x = 1
goal.axis.y = 0
goal.axis.z = 0
volume.min.x = -383.802642822
volume.min.y = -371.469055176
volume.min.z = -0.196851730347
volume.max.x = 324.997131348
volume.max.y = 337.893371582
volume.max.z = 142.332290649

[benchmark]
time_limit=300.0
mem_limit=10000.0
run_count=50

[planner]
prm=
prmstar=
prmstar.name=PRM*
rrtstar=
rrtstar.name=RRT*
lbtrrt=
spars=
spars.stretch_factor=1.2
spars.sparse_delta_fraction=0.05
spars.max_failures=10000
spars2=
spars2.name=SPARS2
spars2.stretch_factor=1.2
spars2.sparse_delta_fraction=0.05
spars2.max_failures=10000
aps=
aps.name=APS1
aps.num_planners=1
aps=
aps.name=APS4
aps.num_planners=4
rrtstar=
rrtstar.name=RRT*prune
rrtstar.prune=1
cforest=
cforest.name=CForest4
cforest.num_threads=4
cforest=
cforest.name=CForest8
cforest.num_threads=8
