<div class="container container-fluid" id="content">

	<h2>Planner Benchmarking</h2>
	<br><br>

	<div id="benchmark-alerts"></div>

	<div class="col-md-4">
		<div class="options-header">
			Benchmarking
		</div>

		<div class="benchmarking-options">
			<table class="table">
				<caption>Settings</caption>
				<tbody>
					<tr>
						<td>Time Limit (sec)</td>
						<td><input type='number' name="time_limit" class="form-control input-sm" value="10"></input></td>
					</tr>
					<tr>
						<td>Memory Limit (MB)</td>
						<td><input type='number' name="mem_limit" class="form-control input-sm" value="1000"></input></td>
					</tr>
					<tr>
						<td>Run Count</td>
						<td><input type='number' name="run_count" class="form-control input-sm" value="2"></input></td>
					</tr>
					<tr>
						<td>Notification Email</td>
						<td><input type="email" id="notificationEmail" class="form-control input-sm" value="prb2@rice.edu"></input></td>
					</tr>
				</tbody>
			</table>

			<center>

				<button class="btn btn-default" onclick="downloadConfig()">Export Configuration</button>

				<!-- Add Planners button -->
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Add Planner &nbsp; <span class='caret'></span>
					</button>
					<ul class="dropdown-menu">
						<!-- TODO: poplulate this dynamically when planners are retrieved -->
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.BKPIECE1')">BKPIECE1</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.EST')">EST</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.FMT')">FMT</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.KPIECE1')">KPIECE1</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.LBKPIECE1')">LBKPIECE1</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.LBTRRT')">LBTRRT</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.LazyPRM')">LazyPRM</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.LazyPRMstar')">LazyPRMstar</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.LazyRRT')">LazyRRT</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.PDST')">PDST</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.PRM')">PRM</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.PRMstar')">PRMstar</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.RRT')">RRT</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.RRTConnect')">RRTConnect</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.RRTstar')">RRTstar</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.SBL')">SBL</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.SPARS')">SPARS</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.SPARStwo')">SPARStwo</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.STRIDE')">STRIDE</a></li>
						<li><a class="dropdown-link" onclick="addPlanner('ompl.geometric.TRRT')">TRRT</a></li>
					</ul>
				</div>

				<br><br>

				<button class="btn btn-default" onclick="startBenchmarking()">Benchmark</button>

			</center>
		</div>
	</div>

	<div class="col-md-8">
		<div class="planner-tables" id="planner-tables">

		</div>
	</div>

</div>
