<div class="container container-fluid" id="inner-content">
	<h2>Configure Problem</h2>
	<br>
	Select a pre-configured problem, or upload a custom robot and environment. Then, either enter the configuration fields manually, or load a configuration file in the .cfg format. Finally, open the Solve tab to find a solution.
	<br><br>


	<div class="col-md-4" role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav tabs" role="tablist">
				<li role="presentation"><a href="#problem" aria-controls="problem" role="tab" data-toggle="tab" id="problem-tab">Problem</a></li>
				<li role="presentation"><a href="#bounds" aria-controls="bounds" role="tab" data-toggle="tab">Bounds</a></li>
				<li role="presentation"><a href="#planner" aria-controls="planner" role="tab" data-toggle="tab">Planner</a></li>
				<li role="presentation"><a href="#solve" aria-controls="solve" role="tab" data-toggle="tab">Solve</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Begin Problem Tab -->
				<div role="tabpanel" class="tab-pane fade" id="problem">

					<!-- Problem Selection -->
					<div class="form-group">
						<label>Problem</label>
						<select name="problems" id="problems" class="required-field form-control input-sm">
							<option value="abstract">Abstract</option>
							<option value="apartment">Apartment</option>
							<option value="apartment_hard">Apartment Hard</option>
							<option value="cubicles">Cubicles</option>
							<option value="custom" selected="selected">Custom</option>
						</select>
					</div> <!-- Close Problem -->


					<!-- Custom problem upload -->
					<div class="collapse in" id="customProblem">
					<form enctype="multipart/form-data">
						<div class="form-group">
							<label>Environment</label>
							<input type="file" name="env" id="env_path" class="form-field-custom form-control input-sm">
						</div>
						<div class="form-group">
							<label>Robot</label>
							<input type="file" name="robot" id="robot_path" class="form-field-custom form-control input-sm">
						</div>
					</form>
					<center><button onclick="uploadModels()" id="uploadModelsButton">Upload Models</a></center>
					</br>
						<div class="form-group">
							<label>Configuration File</label>
							<input type="file" name="config" id="config" class="form-control">
						</div>
					</div> <!-- Close collapsible options -->

					<!-- Problem Configuration -->
					<table class="table">
						<caption>Start Pose</caption>
						<thead>
							<tr>
							<th>Axis</th>
							<th>Position</th>
							<th>Rotation (degrees)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>X</th>
								<td><input type="number" step="any" name="start.x" class="pose form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="start.axis.x" class="pose form-field form-control input-sm"></td>
							</tr>
							<tr>
								<th>Y</th>
								<td><input type="number" step="any" name="start.y" class="pose form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="start.axis.y" class="pose form-field form-control input-sm"></td>
							</tr>
							<tr>
								<th>Z</th>
								<td><input type="number" step="any" name="start.z" class="pose form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="start.axis.z" class="pose form-field form-control input-sm"></td>
							</tr>
							<!-- <tr> -->
								<!-- <th>&theta;</th> -->
								<!-- <td></td> -->
								<!-- <td><input type="number" step="any" name="start.theta" class="pose form-field form-control input-sm"></td> -->
							<!-- </tr> -->
						</tbody>
					</table>
					<table class="table">
						<caption>Goal Pose</caption>
						<thead>
							<tr>
							<th>Axis</th>
							<th>Position</th>
							<th>Rotation (degrees)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>X</th>
								<td><input type="number" step="any" name="goal.x" class="pose form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="goal.axis.x" class="pose form-field form-control input-sm"></td>
							</tr>
							<tr>
								<th>Y</th>
								<td><input type="number" step="any" name="goal.y" class="pose form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="goal.axis.y" class="pose form-field form-control input-sm"></td>
							</tr>
							<tr>
								<th>Z</th>
								<td><input type="number" step="any" name="goal.z" class="pose form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="goal.axis.z" class="pose form-field form-control input-sm"></td>
							</tr>
							<!-- <tr> -->
								<!-- <th>&theta;</th> -->
								<!-- <td></td> -->
								<!-- <td><input type="number" step="any" name="goal.theta" class="pose form-field form-control input-sm"></td> -->
							<!-- </tr> -->
						</tbody>
					</table>
				</div>
				<!-- End Problem Tab -->

				<!-- Begin Bounds Tab -->
				<div role="tabpanel" class="tab-pane fade" id="bounds">
					<table class="table">
						<caption>Bounding Box</caption>
						<thead>
							<tr>
							<th>Axis</th>
							<th>Lower</th>
							<th>Upper</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>X</th>
								<td><input type="number" step="any" name="volume.min.x" class="form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="volume.max.x" class="form-field form-control input-sm"></td>
							</tr>
							<tr>
								<th>Y</th>
								<td><input type="number" step="any" name="volume.min.y" class="form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="volume.max.y" class="form-field form-control input-sm"></td>
							</tr>
							<tr>
								<th>Z</th>
								<td><input type="number" step="any" name="volume.min.z" class="form-field form-control input-sm"></td>
								<td><input type="number" step="any" name="volume.max.z" class="form-field form-control input-sm"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- End Bounds Tab -->

				<!-- Begin Planner Configuration Tab -->
				<div role="tabpanel" class="tab-pane fade" id="planner">
					<div class="form-group">
						<label>Planner</label>
						<select name="planners" id="planners" class="required-field form-control input-sm">
							<option value="ompl.geometric.BKPIECE1">BKPIECE1</option>
							<option value="ompl.geometric.EST">EST</option>
							<option value="ompl.geometric.FMT">FMT</option>
							<option value="ompl.geometric.KPIECE1" selected="selected">KPIECE1</option>
							<option value="ompl.geometric.LBKPIECE1">LBKPIECE1</option>
							<option value="ompl.geometric.LBTRRT">LBTRRT</option>
							<option value="ompl.geometric.LazyPRM">LazyPRM</option>
							<option value="ompl.geometric.LazyPRMstar">LazyPRMstar</option>
							<option value="ompl.geometric.LazyRRT">LazyRRT</option>
							<option value="ompl.geometric.PDST">PDST</option>
							<option value="ompl.geometric.PRM">PRM</option>
							<option value="ompl.geometric.PRMstar">PRMstar</option>
							<option value="ompl.geometric.RRT">RRT</option>
							<option value="ompl.geometric.RRTConnect">RRTConnect</option>
							<option value="ompl.geometric.RRTstar">RRTstar</option>
							<option value="ompl.geometric.SBL">SBL</option>
							<option value="ompl.geometric.SPARS">SPARS</option>
							<option value="ompl.geometric.SPARStwo">SPARStwo</option>
							<option value="ompl.geometric.STRIDE">STRIDE</option>
							<option value="ompl.geometric.TRRT">TRRT</option>
						</select>
					</div>
					<div class="collapse" id="plannerPane">
						Planner specific settings are displayed here when a
						planner is selected.
					</div>
				</div>
				<!-- End Planner Configuration Tab -->

				<!-- Begin Solve Tab -->
				<div role="tabpanel" class="tab-pane fade" id="solve">
					<table class="table">
						<caption>Solve Problem</caption>
						<tbody>
							<tr>
								<td>Name</td>
								<td><input type="text" name="name" class="form-field form-control form-control input-sm"></td>
							</tr>
							<tr>
								<td>Time Limit (sec)</td>
								<td><input type="number" step="any" name="time_limit" class="form-field form-control input-sm" value="10"></td>
							</tr>
						</tbody>
					</table>
					<center>
						<button type="button" onclick="solve()">Solve</a>
						<button type="button" onclick="clearAllFields()">Clear</a>
					</center>

					<div id="results"><br><br><br></div>
				</div>
				<!-- End Solve Tab -->
			</div>
			<!-- End Tab panes -->

		</form>
		<!-- Close form -->

	</div> <!-- End tab panel -->


	<script src="{{ url_for('static', filename='scripts/visualization.js') }}"></script>

	<div class="col-md-8">
		<div class="visualization" id="viewer"></div>

		<div class="vizOptions">
		</div>
	</div>

</div> <!-- Close fluid container -->
